# Opcional: use apenas para testes locais em http://127.0.0.1:5500
ELEVENLABS_API_KEY=cole_sua_chave_aqui
ELEVENLABS_VOICE_ID=onwK4e9ZLuTAKqWW03F9
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
RAWG_API_KEY=cole_sua_chave_rawg_aqui
